<div class="row">
    <div class="col-12">
        <div class="img d-flex justify-content-center align-items-center flex-column">
            <h2 class="fw-bolder">About Us</h2>
            <p class="w-50 text-white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae voluptates incidunt sed quisquam saepe. Facilis corporis quaerat impedit assumenda nihil!</p>
        </div>
    </div>
</div>

<div class="row p-5">
    <div class="col-md-6 d-flex justify-content-center flex-column">
        <h3 class="mb-4">Our Mission</h3>
        <p>adipisicing elit. Reprehenderit, totam obcaecati repellendus eligendi pariatur necessitatibus fuga vero molestiae voluptatem quidem exercitationem possimus iusto natus amet inventore deserunt sint ex quae atque animi! Maxime, reprehenderit eaque! Suscipit mollitia sint error, unde soluta aliquid itaque dignissimos maxime reiciendis tenetur, commodi, vero ipsa?</p>
    </div>
    <div class="col-md-6 ">
        <div class="row g-2">
            <div class="col-6">
                <div class="mission-photo">
                    <img class="w-100" src="/project-7.jpg" alt="jvkm" >
                </div>
            </div>
            <div class="col-6">
                <div class="mission-photo">
                    <img class="w-100" src="/project-8.jpg" alt="jvkm" >
                </div>
            </div>
            <div class="col-12">
                <div class="mission-photo">
                    <img class="w-100" src="/mission.jpg" alt="jvkm" >
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row p-5 text-center">
    <h2>Meet Our Leaders</h2>
    <p>Lorem ipsum dolor sit amet. dolor sit amet consectetur adipisicing elit. Totam, obcaecati.</p>
    <div class="row g-4">
        <div class="col-md-3 col-sm-12">
            <div class="card bg-transparent">
                <div class="img-card m-auto">
                    <img class="w-100 rounded-circle" src="/client-1.png" alt="personal photo">
                </div>
                <h3 class="mt-3 text-white">Johathan Warner</h3>
                <p class="text-white">CEO</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="card bg-transparent">
                <div class="img-card m-auto">
                    <img class="w-100 rounded-circle" src="/client-2.png" alt="personal photo">
                </div>
                <h3 class="mt-3 text-white">Johathan Warner</h3>
                <p class="text-white">CEO</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="card bg-transparent">
                <div class="img-card m-auto">
                    <img class="w-100 rounded-circle" src="/client-3.png" alt="personal photo">
                </div>
                <h3 class="mt-3 text-white">Johathan Warner</h3>
                <p class="text-white">CEO</p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="card bg-transparent">
                <div class="img-card m-auto">
                    <img class="w-100 rounded-circle" src="/client-4.png" alt="personal photo">
                </div>
                <h3 class="mt-3 text-white">Johathan Warner</h3>
                <p class="text-white">CEO</p>
            </div>
        </div>
    </div>
</div>