<div class="row">
    <div class="row py-5 gy-3">
        @for (item of searchResult; track $index) {
            
        <div class="col-md-2">
            <a class="nav-link" [routerLink]="['/details', item.id, item.media_type]">
                <div class="item position-relative">
                    @if (item.poster_path) {
                        <img class="w-100 my-2" [src]='baseUrl+item.poster_path'  [alt]="item.title">
                    }
                    @if (item.profile_path) {
                        <img class="w-100 my-2" [src]='baseUrl+item.profile_path' [alt]="item.name">
                    }
                    <h2 class="h6">{{item.title}}{{item.name}}</h2>
                    @if (item.vote_average) {
                        <span class="position-absolute top-0 end-0 p-2 bg-info text-white">{{item.vote_average.toFixed(1)}}</span>
                    }
                </div>
            </a>
        </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-4">
        <h4>page: {{currentpage}}</h4>
    </div>
    <div class="col-8 ">
        <nav class="float-end">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" (click)="decrementCurrentpage()" >Previous</a></li>
                <li class="page-item"><a class="page-link"(click)="setCurrentpage(1)" >1</a></li>
                <li class="page-item"><a class="page-link" (click)="setCurrentpage(2)" >2</a></li>
                <li class="page-item"><a class="page-link" (click)="setCurrentpage(3)" >3</a></li>
                <li class="page-item"><a class="page-link" (click)="incrementCurrentpage()">Next</a></li>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</div>