<div class="row mt-5">
    <div class="col-8 m-auto">
        <h2>Registeration Form</h2>
        <form [formGroup]="registerform" (ngSubmit)="submitForm()">
            <div class="first-name ">
                <label class="mb-2" for="f-name" > FristName: </label>
                <input id="f-name" formControlName ='firstName' class="form-control mb-2" type="text">
                @if (registerform.controls.firstName.errors && registerform.controls.firstName.touched) {
                    <p class="error text-danger">first name not valid</p>
                }
            </div>
            <div class="last-name ">
                <label class="mb-2" for="l-name" > LastName: </label>
                <input id="l-name" formControlName ='lastName' class="form-control mb-2" type="text">
                @if (registerform.controls.lastName.errors && registerform.controls.lastName.touched) {
                    <p class="error text-danger">last name not valid</p>
                }
            </div>
            <div class="age ">
                <label class="mb-2" for="age"> Age: </label>
                <input id="age" formControlName ='age' class="form-control mb-2" type="number">
                @if (registerform.controls.age.errors && registerform.controls.age.touched) {
                    <p class="error text-danger">age must be greater than 12</p>
                }
            </div>
            <div class="email ">
                <label class="mb-2" for="email"> email: </label>
                <input id="email" formControlName ='email' class="form-control mb-2" type="email" autocomplete="username">
                @if (registerform.controls.email.errors && registerform.controls.email.touched) {
                    <p class="error text-danger">email not valid</p>            
                }
            </div>
            <div class="password">
                <label class="mb-2" for="pass"> Password: </label>
                <input id="pass" formControlName ='password' class="form-control mb-2" type="password" autocomplete="new-password">
                @if (registerform.controls.password.errors && registerform.controls.password.touched) {
                    <p class="error text-danger">min character 5</p>            
                }
            </div>
            <button [disabled]="registerform.invalid" class="btn float-end bg-info text-white " type="submit">register</button>
            <div class="clearfix"></div>
        </form>
    </div>
</div>